/*==========================================================
    Project Name: Food Network
    Author      : Ragib Barket
    Email       : ragibrahman86317@gmail.com
==========================================================*/

* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
/*====================================================
    HEADER-SECTION
====================================================*/
#header-part{
    height: 140vh;
    background-image: url(images/7.png);
    background-position: 0% , 0%;
    background-size: cover;
    background-repeat: no-repeat;
}
.menubar {
    text-align: center;
}
.menubar li {
    display: inline-block;
    margin: 0 40px;
    margin-top: 60px;
}
.menubar li a {
    color: #000;
    font-size: 18px;
    font-weight: 500;
}
.flexible-container {
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.text-area {
    padding-top: 200px;
}
.half-width img {
    width: 100%;
}
.half-width h1 {
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 20px;
}
.half-width span{
    color: #ffc864;
}
.half-width p{
    font-size: 18px;
    margin-bottom: 40px;
}
.link-button {
    background-image: linear-gradient(#fdc65efd, rgb(250, 95, 67));
    padding: 20px 40px;
    color: white;
    border-radius: 30px;
}

/*===============================================================
    ABOUT ME SECTION
===============================================================*/
#about-section{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about-me h2 {
    font-weight: 500;
    margin-bottom: 20px;
}

/*===============================================================
    MY RECIPIES SECTION
===============================================================*/
#my-recipi{
    padding: 80px 0;
}
.recipie{
    text-align: center;
}
.recipie h2 {
    margin: 20px 0;
}
.recipie p{
    margin-bottom: 30px;
}
.recipie-item{
    width: 30%;
    margin: 20px;
    padding: 10px;
    padding-bottom: 30px;
    box-shadow: 3px 3px 15px grey;
    border-radius: 15px;
}
.recipie-item h3{
    font-size: 26px;
    margin: 20px 0;
}
.recipie-item p {
    text-align: justify;
    margin-bottom: 30px;
}
.recipie-item img {
    width: 100%;
    border-radius: 15px;
}
.read-button {
    background-image: linear-gradient(orange , salmon);
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
}
/*===============================================================
    COUNTING SECTION
===============================================================*/
#counting-section{
    box-shadow: 3px 3px 15px grey;
    margin: 0 20px;
    margin-bottom: 60px;
    border-radius: 10px;
}
.counting {
    width: 30%;
    margin: 60px;
    padding: 30px;
}
/*===============================================================
    SUBSCRIPTION SECTION
===============================================================*/
#subscription-section{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 60px;
}
.subscribe{
    text-align: center;
    text-transform: capitalize;
    margin: 30px;
}
.email-field{
    text-align: center;
}
.email-field input{
    padding: 10px 30px;
    border: 3px solid grey;
    border-radius: 5px;
}

/*===============================================================
    FOOTER SECTION
===============================================================*/
footer {
    background-color: rgb(2, 2, 22);
    padding-top: 40px;
    padding-bottom: 100px;
    text-align: center;
    color: grey;
}
footer h2 {
    margin-bottom: 30px;
}
span{
    color: orange;
}